# Python
__pycache__/
*.pyc
.pytest_cache/
.venv/
env/
venv/

# FastAPI specific
.env
.env.*
secrets.yaml
secrets.json

# Playwright specific
playwright/.auth/
test-results/
playwright-report/
videos/
screenshots/

# IDE and OS files
.idea/
.vscode/
*.swp
*.bak
.DS_Store
Thumbs.db

# Build artifacts
dist/
build/
*db
*sqlite3
*pdf
*db-schm
*dd-wal
*html
*p12